.bookday__container {
  padding: 0 6px 4px;
}

.bookday__root {
  padding: 12px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
  border-radius: 4px;
  width: 70px;
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 105px;
  position: relative;
  transition: background-color .2s;
  cursor: pointer;
}

.active-day {
  background-color: #0D5137;
  border-radius: 7px 7px 4px 4px;
  color: #FFF;
}

.bookday__root > div {
  background-color: #FFF;
  border-radius: 4px 4px 0 0;
  color: #383F48;
  display: none;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1px 0;
}

.active-day > div {
  display: block;
}

.bookday__root > span {
  font-size: 14px;
}

.bookday__root > b {
  font-size: 18px;
}